<div fxLayout="column" fxLayoutAlign="center">
  <p>
    Jeremy Rovny is a filmmaker from North Texas. His focus lies in producing
    and directing. He began filming as a child and traveling internationally by
    the age of seventeen. His travels have taken him to Canada, Mexico, France,
    Germany, Austria, Guatemala, Honduras, India, and Georgia (country). In
    Europe he filmed a 60 minute documentary vlog, in Central America he worked
    on an independent docuseries (which sold to Amazon), and in India he worked
    on a feature length documentary about the lives of orphans and lepers.
  </p>
  <p>
    From 2016-2017 he lived alone in a village in India for 5 months and in the
    Lower Caucasus Mountains in Georgia for 8 months on a personal journey
    observing the cultures of Hinduism in India, Christianity in Georgia, and
    village lifestyle in each country.
  </p>
  <p>
    Jeremy's Western short film The Odds aired on a local television station and
    won an award for Best Editing in 2016. A feature length documentary he
    helped film and edit in India is currently in post-production. Jeremy is now
    working on his MFA in Documentary Production while researching for his first
    feature length documentary film.
  </p>
</div>
