<mat-toolbar
  class="toolbar-settings"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div>
    <button
      *ngIf="smScreen"
      mat-icon-button
      color="primary"
      [matMenuTriggerFor]="leftMenu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/">TorchFireFilms</a>
    <a *ngIf="!smScreen" mat-button routerLink="/about">About</a>
  </div>
  <div *ngIf="!authenticated()">
    <button mat-button (click)="signIn()">Sign In</button>
    <button mat-raised-button color="primary">Sign Up</button>
    <div>{{ this.authService.user?.profile.last_name }}</div>
  </div>
  <div *ngIf="authenticated()" fxLayoutGap="3px">
    <button *ngIf="!smScreen" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button *ngIf="!smScreen" mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
      {{ getUserInitials() }}
    </button>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Account</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="signOut()">Sign Out</button>
</mat-menu>
<mat-menu #leftMenu="matMenu" fxLayout="column">
  <a routerLink="/about" mat-menu-item>About</a>
  <button mat-menu-item>Search</button>
</mat-menu>
