.example-card {
  max-width: 400px;
  margin: 10px;
  .overlay {
    opacity: 0;
    position: absolute;
  }
}

.example-tooltip-red {
  background: rgba(245, 245, 245, 0.85);
  color: black !important;
  font-size: medium;
  border: 1px solid black;
}

.example-card:hover {
  .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
  }
}
